@page
@using ZealandZoo.Models
@model ZealandZoo.Pages.AboutUs.BoardMembersModel
@{
    ViewData["Title"] = "Bestyrelsen";
}

<div class="boardMembersContainer">
    <h1>@ViewData["Title"]</h1>

    @foreach (BoardMember item in Model.BoardMembers)
    {

        <div class="boardMembersitem">
            @if ((item.BoardMemberId % 2 != 0))
            {
                //Odd ID number: Image is on the left
                <img src="/images/boardMembers/@item.ImageFileName" alt="@item.FirstName" />
                <div>
                    <h2>@item.FirstName - @item.AreaOfResponsibility</h2>
                    <p>@item.Description</p>
                </div>
            }
            else
            {
                //Even ID number: Image is on the right
                <div>
                    <h2>@item.FirstName - @item.AreaOfResponsibility</h2>
                    <p>@item.Description</p>
                </div>
                <img src="/images/boardMembers/@item.ImageFileName" alt="@item.FirstName" />
            }
        </div>
    }
</div>